astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
coverage==5.0.3
cycler==0.10.0
Cython==0.29.17
decorator==4.4.2
Django==3.0.3
django-cors-headers==3.2.1 
django-environ==0.4.5
gunicorn==20.0.4
idna==2.8
imageio==2.8.0
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
numpy==1.18.4
networkx==2.4
opencv-python==4.2.0.34
Pillow==7.0.0
PyWavelets==1.1.1
pylint==2.4.4
pyparsing==2.4.7
pytz==2019.3
python-dotenv==0.12.0
python-dateutil==2.8.1
requests==2.22.0
six==1.10.0
scikit-image==0.16.2
scipy==1.4.1
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2