astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
coverage==5.0.3
Django==3.0.3
django-cors-headers==3.2.1 
django-environ==0.4.5
gunicorn==20.0.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
Pillow==7.0.0
pylint==2.4.4
pytz==2019.3
python-dotenv==0.12.0
requests==2.22.0
six==1.10.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2